.hero {
    display: flex;
    background-color: #1F2937;
    flex-wrap: wrap;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 90px;
    margin-right: 90px;
}

.header-logo {
    color: #F9FAF8;
    display: flex;
    font-size: 24px;
}

.header-links {
    display: flex;
    font-size: 14px;
    color: #c5c8cf;
    justify-content: end;
    
}

.hero-container {
    display: flex;
    margin: 80px;
    max-height: 0%;
    gap: 40px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
}

.hero-main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.hero-sub {
    color: #c5c8cf;
    font-size: 18px;
}

.hero-image {
    color: #c5c8cf;
    display: flex;
    background-color: grey;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    min-width: 400px
    
}

.modal {
    color: #F9FAF8;
    border-radius: 5px;
    background-color: #3882F6;
    padding: 10px;
    width: 80px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.info-header {
    font-size: 32px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.information {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    border-style: solid;
    border-radius: 10px;
    border-color: #3882F6;
    border-width: 3px;
    max-width: 130px;
    min-height: 130px;


}

.box-text {
    max-width: 130px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 60px;
}

.testimonial {
    background-color: #e5e7eb;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    margin-top: 90px;
    margin-right: 150px;
    margin-left: 150px;
}

.thor {
    font-weight: bold;
    margin-right: 150px;
    font-size: large;
    margin-bottom: 70px;
}

.call-container {
    border-radius: 5px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-right: 120px;
    margin-left: 120px;
    padding: 40px;
}

.call-main {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
}

.call-sub {
    color:#c5c8cf
}

.modal-two {
    color: #F9FAF8;
    border-radius: 5px;
    border-color: #F9FAF8;
    border: 1px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    width: 100px;
    height: 20px;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
}